<nav mat-tab-nav-bar class="border mb-3">
  <a mat-tab-link [routerLink]="['./profile']"
     (click)="activeLink = 'profile'"
     [active]="activeLink == 'profile'">
    Profile
  </a>
  <a mat-tab-link [routerLink]="['./connections']"
     (click)="activeLink = 'connections'"
     [active]="activeLink == 'connections'"
     class="push-right">
    Service Connections
  </a>
  <a mat-tab-link [routerLink]="['./personal']"
     (click)="activeLink = 'personal'"
     [active]="activeLink == 'personal'">
    Personal Data
  </a>
</nav>

