<mat-card class="flex">
  <mat-panel-title>
    <a [routerLink]="['/profile', shareSnippet.ownerUsername]">
      @{{ shareSnippet.ownerUsername }}
    </a>
    /
    <a [routerLink]="['/share/view', shareSnippet.id]">
      {{ shareSnippet.name }}
    </a>
  </mat-panel-title>
  <mat-panel-description>

  </mat-panel-description>
  <p>{{ shareSnippet.description }}</p>
  <!--<button class="push-right" [routerLink]="['/share/view', shareSnippet.id]" mat-raised-button color="primary">View</button>-->
</mat-card>
