<mat-card class="flex">
  <mat-panel-title>
    <div>
      <a [routerLink]="['/profile', shareSnippet.ownerUsername]">
        @{{ shareSnippet.ownerUsername }}
      </a>
      /
      <a [routerLink]="['/share/view', shareSnippet.id]">
        {{ shareSnippet.name }}
      </a>
    </div>
    <mat-chip-list>
      <mat-chip class="push-right" selected [color]="shareSnippet.isPrivate ? 'accent' : 'primary'">
        {{ shareSnippet.isPrivate ? "Private" : "Public" }}
      </mat-chip>
    </mat-chip-list>
  </mat-panel-title>
  <mat-panel-description>


    <p>{{ shareSnippet.description }}</p>
    <!--<button class="push-right" [routerLink]="['/share/view', shareSnippet.id]" mat-raised-button color="primary">View</button>-->
  </mat-panel-description>
</mat-card>
