.push-right {
  margin-left: auto !important;
}

.flex {
  display: flex;
}

mat-expansion-panel {
  margin: 12px;
}

mat-panel-description {
  display: flex;
  justify-content: right;
} 

.fillspace {
  padding-left: 60vw;
}
