<form [formGroup]="loginForm" (ngSubmit)="login()">
  <fieldset>
    <legend>Login</legend>
    <div class="form-field">
      <label>Username:</label>
      <input name="username" formControlName="username" autocomplete="username">
    </div>
    <span class="error" *ngIf="(username.touched || username.dirty) && username.invalid">
      {{ username.hasError('required') ? "Name is required" : "" }}
      {{ username.hasError('minlength') ? "Name must have at least 3 characters" : "" }}
      {{ username.hasError('maxlength') ? "Name must have at most 20 characters" : "" }}
    </span>
    <br />
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password"
             type="password" autocomplete="current-password">
    </div>
    <span class="error" *ngIf="(password.touched || password.dirty) && password.invalid">
      {{ password.hasError('required') ? "Password is required" : "" }}
      {{ password.hasError('minlength') ? "Password must have at least 8 characters" : "" }}
      {{ password.hasError('maxlength') ? "Password must have at most 64 characters" : "" }}
    </span>
    <br />
  </fieldset>
  <div class="form-buttons">
    <button [disabled]="loginForm.invalid && loginForm.touched" class="button button-primary" type="submit">
      Login
    </button>
  </div>
</form>

<p class="error" *ngIf="errorCode != 0">
  {{ errorCode == 401 ? "Invalid Username or Password" : "" }}
  {{ errorCode == 422 ? "You cannot login before verifying your email address" : "" }}
</p>

<p>Don't yet have an account? <a [routerLink]="['/register']">Register!</a></p>
<p>Forgot your password? <a [routerLink]="['/requestreset']">Reset it!</a></p>
