<form [formGroup]="passwordForm" (ngSubmit)="submit()">
  <fieldset>
    <legend>Set new password</legend>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password"
             type="password">
    </div>
    <span class="error" *ngIf="(password.touched || password.dirty) && password.invalid">
      {{ password.hasError('required') ? "Password is required" : "" }}
      {{ password.hasError('minlength') ? "Password must have at least 8 characters" : "" }}
      {{ password.hasError('maxlength') ? "Password must have at most 64 characters" : "" }}
    </span>
    <br />
  </fieldset>
  <div class="form-buttons">
    <button [disabled]="passwordForm.invalid && passwordForm.touched" class="button button-primary" type="submit">
      Submit
    </button>
  </div>
  <div class="error">
    {{ errorCode == 404 ? "This reset link is invalid or expired" : "" }}
  </div>
</form>
