<div class="header" [class.end]="requireEnd" [class.between]="requireBetween">
  <shared-create-button *ngIf="showCreateButton"
                        (onCreate)="onCreate()">
  </shared-create-button>

  <div *ngIf="showSortMenu">
    <button [matMenuTriggerFor]="menu">
      {{ activeOrdering }}</button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let ordering of orderingOptions" mat-menu-item
              (click)="applyOrdering(ordering)">
        {{ ordering }}
      </button>
    </mat-menu>
  </div>

  <mat-paginator *ngIf="showPaginator"
                 [length]="count"
                 [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPage($event)">
  </mat-paginator>
</div>
