<nav mat-tab-nav-bar class="border mb-3">
  <a mat-tab-link [routerLink]="['./overview']"
     (click)="activeLink = 'overview'"
     [active]="activeLink == 'overview'">
    Overview
  </a>
  <a *ngIf="hasContent"
     mat-tab-link [routerLink]="['./headers']"
     (click)="activeLink = 'headers'"
     [active]="activeLink == 'headers'">
    Headers
  </a>
  <a *ngIf="hasContent"
     mat-tab-link [routerLink]="['./payload']"
     (click)="activeLink = 'payload'"
     [active]="activeLink == 'payload'">
    Payload
  </a>
</nav>

