<h1 mat-dialog-title>How do you want to get notified?</h1>

<mat-accordion class="fillspace">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </mat-panel-title>
      <mat-panel-description>
        Show posts on your Dashboard
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex">
      <button class="push-right" mat-raised-button color="primary"
              (click)="openCreationDialog(subscriptionType.Dashboard)">Use</button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>smartphone</mat-icon>
        Mobile Phone
      </mat-panel-title>
      <mat-panel-description>
        Receive posts as push notification on your phone
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>android</mat-icon>
          Android Push Notification
        </mat-panel-title>
        <mat-panel-description>
          Receive posts as push notification on your Android phone
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex">
        <button class="push-right" mat-raised-button color="primary">Use</button>
      </div>
    </mat-expansion-panel>

  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>messages</mat-icon>
        Messaging Platforms
      </mat-panel-title>
      <mat-panel-description>
        Receive posts via your favorite messaging platform
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>discord</mat-icon>
          Discord
        </mat-panel-title>
        <mat-panel-description>
          Receive posts as a direct message on Discord
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex">
        <button class="push-right" mat-raised-button color="primary"
                (click)="openCreationDialog(subscriptionType.MessagerDiscord)">Use</button>
      </div>
    </mat-expansion-panel>

  </mat-expansion-panel>


  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>email</mat-icon>
        Email
      </mat-panel-title>
      <mat-panel-description>
        Receive posts per Email
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex">
      <button class="push-right" mat-raised-button color="primary">Use</button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>send</mat-icon>
        Webhook
      </mat-panel-title>
      <mat-panel-description>
        Receive posts in the original format via a webhook
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex">
      <button class="push-right" mat-raised-button color="primary"
              (click)="openCreationDialog(subscriptionType.Webhook)">Use</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>


<div mat-dialog-actions class="flex">
  <button class="push-right" mat-button mat-dialog-close color="accent">Cancel</button>
</div>
