<mat-card>
  <mat-card-title>Missed Posts</mat-card-title>

  <div *ngIf="!subscriptionPostMap">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="subscriptionPostMap">
    <h3 *ngIf="subscriptionPostMap.length == 0">None, you are all caught up!</h3>
    <div *ngFor="let compound of subscriptionPostMap">
      <mat-card>
        <mat-card-title>{{ compound.subscriptionSnippet.name }}</mat-card-title>
        <div *ngFor="let unsentPost of compound.unsentPosts">
          <shared-post-snippet [postSnippet]="unsentPost">
            <button (click)="markAsRead(compound, unsentPost.id)" mat-raised-button color="accent">Mark as Read</button>
          </shared-post-snippet>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>
