<form [formGroup]="basicForm" (ngSubmit)="submit()">
  <fieldset>
    <legend>Create Share</legend>

    <div class="form-field">
      <label>Name:</label>
      <input name="shareName" formControlName="shareName" />
    </div>
    <span class="error" *ngIf="(shareName.touched || shareName.dirty) && shareName.invalid">
      {{ shareName.hasError('required') ? "Name is required" : "" }}
      {{ shareName.hasError('minlength') ? "Name must have at least 3 characters" : "" }}
      {{ shareName.hasError('maxlength') ? "Name must have at most 32 characters" : "" }}
    </span>
    <br />
    <div class="form-field">
      <label>Description:</label>
      <input name="shareDescription" formControlName="shareDescription" />
    </div>
    <span class="error" *ngIf="(shareDescription.touched || shareDescription.dirty) && shareDescription.invalid">
      {{ shareDescription.hasError('maxlength') ? "Description must have at most 256 characters" : "" }}
    </span>
    <br />
  </fieldset>
  <div class="form-buttons">
    <button [disabled]="basicForm.invalid" class="button button-primary" type="submit">
      Next >>>
    </button>
  </div>

</form>
