<shared-paged-list-header [count]="subscriptionSnippetsResponse.totalCount"
                          [showCreateButton]="false"
                          [showSortMenu]="false"
                          (page)="onPagedListHeaderEvent($event)"></shared-paged-list-header>

<div *ngFor="let subscriptionSnippet of subscriptionSnippets">
  <shared-subscription-snippet [subscriptionSnippet]="subscriptionSnippet"
                               (delete)="onDelete(subscriptionSnippet)"></shared-subscription-snippet>
</div>
